<div *ngIf="viewMode; else editable">
  <div *ngIf="currentPersonas.identificacion">
    <h4>Usuario</h4>
    <div>
      <label><strong>Nombre:</strong></label> {{ currentPersonas.nombre }}
    </div>
    <div>
      <label><strong>Apellido Paterno:</strong></label>
      {{ currentPersonas.apellidoPaterno }}
    </div>
    <div>
      <label><strong>Apellido Materno:</strong></label>
      {{ currentPersonas.apellidoMaterno }}
    </div>
    <div>
      <label><strong>Identificacion:</strong></label>
      {{ currentPersonas.identificacion }}
    </div>
    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Borrar
    </button>
  </div>

  <div *ngIf="!currentPersonas">
    <br />
    <p>Please click on a User...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentPersonas.identificacion" class="edit-form">
    <h4>Usuario</h4>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="currentPersonas.nombre"
          name="nombre"
        />
      </div>
      <div class="form-group">
        <label for="description">Identificacion</label>
        <input
          type="text"
          class="form-control"
          id="identificacion"
          [(ngModel)]="currentPersonas.identificacion"
          name="identificacion"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Borrar
    </button>

    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentPersonas.personaId">
    <br />
    <p>Cannot access this User...</p>
  </div>
</ng-template>
